/* GENERICS */

*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

li {
  list-style: none;
  padding: 0 10px;
}



/* UTILIS */

.flex{
    display: flex;
}

.contaier-l{
    width: 100vw;
}

.container-m{
    width: 60%;
    margin: 20px auto;
}

.container-s{
    width: 60%;
    margin: 20px auto;
}

/* HEADER */

header {
    justify-content: space-between;
    height: 50px;
    align-items: center;
  }

  /* JUMBOTRON */

  


/* DEBUG */

.debug {
    border: 2px dashed black;
  }

