/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.debug {
  border: 2px solid black;
}

.btn {
  background-color: #0061ff;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
